.heroes-cart{
    background-color: rgb(221, 74, 29);
    width: 30%;
    margin: 10px;
}
.heroes-cart img {
    
    text-align: center;
    width: 100%;
    border-radius: 15px;
}
.heroes-name {
    font-weight: bold;
    font-size: large;
    padding: 10px;
}
.heroes-tittle{
    text-align: center;
    background-color: red;
}
.flowers-cart {
    text-align: center;
}
h2 {
    text-align: center;
}